{% trans_default_domain 'IFG' %}
{% extends 'base.html.twig' %} 
{% block content %}
<div class="downloadXML_page">
    <div class="text-center">
        <div class="filename">{{file_name}}</div>
        <div class="filename">{{file_name}} est envoyé sur OVH '/home/infogreffe/saisies'</div>
        <a href="/uploads/{{file_name}}" class="sdpd__btn" download>Télécharger le XML</a>
    </div>
</div>
{% endblock %}