@import '../variables';
@import "../mixins";

.compare_page {
    width: 90%;
    margin: 50px auto;
    label {
        margin-bottom: 0 !important;
        font-weight: bold;
    }
    .index  {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        span {
            width: 35px;
            padding: 5px 6px;
            border: 1px solid $border-grey;
            border-right:0;
            cursor: pointer;
            transition: all .5s;
            &:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-right: 1px solid $border-grey;
            }
            &:hover, &:active {
                a {
                    color: #fff;
                }
                background-color: $main-green;
            }
            a {
                color: $main-blue-light;
            }
        }
        .active {
            a {
                color: #fff;
            }
            background-color: $main-green;
        }
    }

    .infos {
        margin-top: 40px;
        margin-bottom: 40px;
        table {
            tr {
                th {
                    padding-right: 30px;
                }
            }
            .operator {
                border-top: 2px solid $border-grey;
            }
        }
        .tip {
            font-weight: bold;
            color: $color-danger;
            margin-top: -20px;
        }
    }

    .content {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        font-size: 13px;
        .block {
            border: 2px solid $border-grey;
            padding: 10px;
            width: 50%;
            height: 750px;
        }
        .pdf {
            margin-right: 20px;
        }
        .data_db {
            overflow-y: auto;
            input[type=text], input[type=date] {
                border: 1px solid $border-grey;
                border-radius: 5px;
                width: 100%;
                height: 35px;
                text-align: left;
                padding-left: 10px;
            }

            .title_table {
                font-size: 18px;
                font-weight: bold;
                text-align: center;
                margin: 10px 0;
                color: #fff;
                background-color: $color-danger;
            }

            .title_part {
                font-size: 16px;
                font-weight: bold;
                margin: 10px 0;
                color: $main-blue-light;
            }

            .subtitle_part {
                font-size: 16px;
                font-weight: bold;
                margin: 10px 0;
            }

            .part {
                margin: 20px 0;
            }

            .a {
                margin-bottom: 8px;
            }

            .b {
                padding-left: 30px;
            }

            textarea {
                border: 1px solid $border-grey;
                border-radius: 5px;
                width: 100%;
                min-height: 80px;
                text-align: left;
                padding-left: 10px;
            }
        }
    }

    .code_rejets {
        margin-bottom: 20px;
        select {
            width: 300px;
            height: 35px;
            border: 1px solid $border-grey;
            border-radius: $main-radius;
            background: $border-grey;
        }
    }

    .confirm_check {
        margin-bottom: 20px;
        color: $color-danger;
        #valider_confirm {
            vertical-align: 2px;
            margin-right: 10px;
        }
    }

    .btn_compare {
        display: flex;
        justify-content: flex-end;
        .b {
            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }
}