@import '../variables';
@import "../mixins";
.header {
    box-shadow: 0px 0px 9px 0px rgba(29, 29, 29, 0.8);
    background-color: $main-green;
    .logo_block {
        padding: 0 20px;
        border-radius: 10px;
        background-color: #fff;
    }
    .logo {
        height: 60px;
        cursor: pointer;
    }
    .mainmenu {
        align-self: start;
        display: flex;
        height: 60px;
        padding: 0;
        margin-bottom: 0 !important;
        margin-left: 50px !important;
    }
    
    .mainmenu li {
        align-items: center;
        display: flex;
        cursor: pointer;
        // margin: 0 16px;
        padding: 0 25px;
        transition: .7s;
        &:hover {
            border-radius: $main-radius;
            background-color: $main-blue-light;
            
        }
    }
    
    .mainmenu>li {
        a {
            align-items: center;
            align-self: stretch;
            color: #fff !important;
            display: flex;
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .mainmenu {
        li {
            &.drop {
                position: relative;
                ul {
                    &.dropdown {
                        border: 1px solid $border-grey;
                        border-radius: 5px;
                        box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
                        left: 0;
                        list-style: outside none none;
                        margin: 0;
                        opacity: 0;
                        padding: 0;
                        position: absolute;
                        top: 56px;
                        transition: all 0.5s ease 0s;
                        visibility: hidden;
                        width: 260px;
                        z-index: 9;
                        background: #fff;
                        li {
                            border-top: 1px solid $border-grey;
                            margin: 0;
                            &:hover {
                                background-color: $main-green;
                                a {
                                    &.drop_a {
                                        color: #fff !important;
                                    }
                                }
                            }
                            a {
                                &.drop_a {
                                    padding: 8px 12px;
                                    color: $txt_black !important;
                                }
                            } 
                        }
                    }
                }
                &:hover ul.dropdown {
                    opacity: 1;
                    top: 100%;
                    visibility: visible;
                }
            }
        }
    }
}