@import '../variables';
@import "../mixins";

.home_page {
    margin-top: 200px;
    table {
        border: none;
        tr {
            border-top: none !important;
        }
        td, th {
            border: none;
        }
    }
}