{% trans_default_domain 'IFG' %}
{% extends 'base.html.twig' %} 
{% block content %} 
<div class="error_siren_page text-center">
    <div class="text">Siren: <span class="siren">{{siren}}</span> non trouvé!</div>
    <div><a href="/" class="sdpd__btn">Retour</a></div>
</div>
    
{% endblock %} 